@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    display:grid;
    align-items: center;
    background: #dde392;
    min-height: 100vh;
}

/* logo and header styling */
#logo {
    font-weight: 300;
    color: #92374d;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 5px 0 0 10px;
    max-width: 100%;
    font-family: "Oswald", sans-serif;
    line-height: 60px;
}

/* navigation bar styling from https://www.w3schools.com/howto/howto_js_topnav.asp */
.topnav {
    background-color: #136f63;
    overflow: hidden;
}

.topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 60;
    text-shadow: 1px 1px 1px black;
}

.topnav a:hover {
    background-color: #bd4607;
    color: white;
}

/* Hero image and content styling */
body,
html {
    max-width: 100%;
    max-height: 100%;
}

.hero-image {
    height: 1170px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background: url(../images/hero-image.webp) no-repeat center center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 25px;
    font-weight: 60;
    text-shadow: 1px 1px 1px black;
}

/* footer styling */
.container {
    max-width: 100%;
    background-color: #136f63;
    margin-top: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #dde392;
    padding: 0;
}

.footer-col {
    width: 33.3%;
    padding: 0 15px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.footer-col h4 {
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 400;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #92374d;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #bd4607;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

#social-media li {
    display: inline;
}

.footer-col .social-links a:hover {
    color: #bbbbbb;
    background-color: #db5b16;
}

/* contact form page  source code (https://youtu.be/p9Ubg6Mqq6w)*/
.contact {
    width: 100%;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 0px;
    background-image: url("../images/empowerment.webp");
    position: relative;
    box-shadow: 0px 0px 0px 0px;
}

form-backing {
    background-color:#32213a;
    text-align: center;
    width: 80%;
    max-width: 100%;
    height: fit-content;
    border: 2px solid #101010;
    margin: 50px auto;
}

.contact-map {
    width: 100%;
    height: 50px;
    flex: 50%;
    
}

.contact-form {
    width: 60%;
    height: auto;
    flex: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact-form>h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.contact-form>label {
    font-size: 1.1rem;
}

.contact-form-txt {
    display: block;
    width: 80%;
    height: 25px;
    border: 1px solid #bcbcbc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.submit {
    width: 100px;
    height: 30px;
    margin: 20px;
    background-color: #32213a;
    border: 2px solid #136f63;
    border-radius: 10px;
    color: #db5b16;
}

#message-box::placeholder {
    color: white;
}

#message-box {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.contact-form-textarea {
    resize: none;
    font-family: inherit;
    font-size: inherit;
    text-indent: 10px;
}

.submit:hover {
    color: #db5b16;
}


/* form-sent page styling */

.form-sent-message {
    background: url("../images/inclusion.webp") no-repeat center center;
    background-size: cover;
    height: calc(100vh - 160px);
    margin: 70px 0 -30px 0;
    position: relative;
    justify-content: center;
}

.message-container {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(249, 249, 235, 0.5);
    padding: 20px;
    border: 2px solid #101010;
}

.form-sent-message h2 {
    margin: 20px 0 20px 0;
    font-size: 40px;
    color:white;
}

.form-sent-message p {
    color:white;
    font-size: 20px;
}

.message-container a {
    color: #32213a;
    border-radius: 100px;
    text-decoration: underline;
}

.message-container a:hover {
    background-color: #dde392;
    color: #db5b16;
    padding: 5px;
}

/* service styling */
.serv-container {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 5px;

}

.card {
    background: #dde392;
    width: 1335px;
    max-height: 800px;
    margin: 10px;
    font-size: 20px;
    font-weight: 100;
}

.card-image {
    height: 500px;
    margin-bottom: 5px;
    background-size: cover;
    
}

.card-1 {
    background-image: url('../images/inclusion.webp');
}

.card-2 {
    background-image: url(../images/education-training.webp);
}

.card-3 {
    background-image: url(../images/empowerment.webp);
}

.card-4 {
    background-image: url(../images/networking.webp);
}

.card h2 {
    padding: 5px;
}

.card p {
    padding: 5px;
}

.card a {
    color: #db5b16;
    padding: 5px 5px;
    display: block;
    text-align: center;
    margin: 5px 10px;
    text-decoration: none;
}

.card:hover {
    background-color: #bd4607;
    color: #dde392;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/* About us styling source code (https://youtu.be/qXRYMdvq_Dc */
.about-us-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.about-us-card {
    background-color: #dde392;
    width: 33.3%;
    height: 700px;
    margin: 5px;
}

.abt-card-image {
    
    height: 400px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.about-us-card h2 {
    padding: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-align: center;
    color: white;

}

.about-us-card p {
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
}

.about-us-card a {
    color: #db5b16;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 10px 20px;
    text-decoration: none;
}

.about-us-card:hover {
    background-color: #136f63;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


/* media queries */
/* styles for small screens up to 320px */

@media and(max-width:375px) {

    .about-us-container {
    flex-direction: row;
    max-height:100%;
    font-size:2rem;
    margin:1rem;
    padding:0,5rem;
    }
    
    
    .form-sent h2 {
    font-size: 25px;
    }
    
    .card {
        max-height: 100%;
        max-width: 90%;
        margin: 5px;
        font-size: 1rem;
    }
    .footer-col {
        width:20%;
    }

}
/* styles for 720px and up */

@media  and (min-width:720px) {

    .about-us-container {
        flex-direction:row;
        max-height:100%;
        flex-wrap:wrap;
        font-size:3rem;
        margin:1rem;
        padding:0.5rem;
     
    }
    .serv-container {
        max-width: 75%;
    }
    .footer-col {
        width:25%;
    }
    
}    
    
